*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F6F6;
}
a{
    text-decoration: none;
    
}


nav picture{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

picture .nav-logo{
    position: relative;
    margin-top: 10px;
    margin-bottom: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 22px; 
}

nav ul{
    
    list-style: none;
    width: 100%; 
    display: flex;
    justify-content: right;
    position: absolute;
    padding-right: 30px;
      
}

nav .nav-list li{
    margin: 10px 5px;
    font-size: 1.3rem;
    text-align: center;
  
}

.menu-gradient{
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%,transparent 70px);
    position: absolute;
    

}
.menu-div{
    width: 100%;
    height: 1px;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,0.01) 0%, rgba(205,204,204,1) 19%, rgba(191,191,191,1) 50%, rgba(191,187,201,1) 78%, rgba(192,181,218,0.01) 100%);
}
.nav-icon{
    background-image: url('https://es.wikipedia.org/w/skins/Vector/resources/skins.vector.styles.legacy/images/user-avatar.svg?b7f58');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
   
}
.nav-icon-search{
    background-image: url('https://es.wikipedia.org/w/skins/Vector/resources/common/images/search.svg?bbf78');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 14px;
   
}


#button-left-menu{
    width: 60px;
    margin-left: 266px;
    font-size: 1.3rem;
    margin-top: 38px;
}
#button-right-menu{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 38px;
    align-items: center;
}

nav .nav-button-left{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 180px;
    
}
nav .nav-button-right{
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}
ul .button-home{
    padding: 13px 8px;
    background-color: white;
    border-right: 1px solid #C9E5F9;
    border-left: 1px solid #C9E5F9;
}

ul .button-discussions{
    padding: 13px 8px;
    border-right: 1px solid #C9E5F9;
    background: rgb(255 255 255 / 0%);
    background: linear-gradient(
    0deg, rgba(238,174,202,0) 0%, rgba(234,244,249,1) 2%, rgba(234,244,249,1) 13%, rgba(234,244,249,1) 60%, rgb(255 255 255 / 0%) 79%);
}

nav{
    display: flex;
}
nav .section-left {
    display: flex;
    position: absolute;
    
}
nav .section-right{
    
    display: flex;
    
    
}
nav .section-right li{
    
    align-items: center;
}
#buscar{
    width: 250px;
    height: 28px;
    border: none;
}
.nav-search{
    display: flex;
    border: 1px solid #dbdada;
    margin-left: 15px;
    align-items: center;
    background-color: white;
    padding-left: 5px;
    
  
}
.nav-search:hover{
    
    border: 1px solid #b3b1b1;
    
    
  
}
ul .button-read{
    background-color: #ffffff;
    padding: 10px;
    border-left: 1px solid #C9E5F9;
    border-right: 1px solid #C9E5F9;
}
ul .button-code{
    padding: 9px;
    border-right: 1px solid #C9E5F9;
    border-bottom: 1px solid #C9E5F9;
}
ul .button-history{
    padding: 9px;
    border-right: 1px solid #C9E5F9;
    border-bottom: 1px solid #C9E5F9;
}


main, aside {
    display: flex;   
}
.main{
    display: flex;
}


aside .aside-menu {
    width: 132px;
    list-style: none;
    
}
aside .aside-menu a{
    text-decoration: none;
    
}
aside .aside-menu li{
    margin: 5px 0;
    font-size: 1.2rem;
}

main .main-aside{
    display: flex;
    width: 160px;
    min-height: 500vh;
    border-right: 1px solid #C9E5F9;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

main .main-container{
    padding: 20px;
    width: 100%;
    min-height: 300vh;
    background-color: white;
    border-top: 1px solid #C9E5F9;
    border-bottom: 1px solid #C9E5F9;
    margin-top: 78px;
}
main .menu-list-aside{
    display: flex;
    width: 100%;
    
}
section .banner{
    display: flex;
    background-image: linear-gradient(
        90deg, rgb(234, 244, 249,1) 0%, transparent ), url('https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border: 1px solid #C8CCD1;
    
}
.title{
    font-size: 3rem;
    font-family: 'Linux Libertine','Georgia','Times',serif;
    font-weight: lighter;
    
}
#container{
    display: flex;
    padding: 45px 22px;
    width: 61%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
}
#count{
    
    text-align: justify;
    padding: 22px;
}
section .title-text{
    font-size: 1.5rem;
    padding-top: 10px;
}
.file-text{
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 27px;
    padding-top: 32px;
    padding-right: 19px;
}
.news{
    width: 60%;
}

.nav-list-banner{
    display: flex;
    text-align: center;
    list-style: none;
    font-size: 1.3rem;
}
.nav-list-banner li{
    display: flex;
    width: 63px;
    height: 32px;
    text-decoration: none; 
    align-items: center;
    font-weight: bold;
    justify-content: center;
    
    
}
.nav-list-banner li:hover{
   
    background-color: rgba(234, 244, 249, 0.596);
    
}
#first-step, #colaborar{
    width: 116px;
}
.container-news, #container-link{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
#container-link{
    width: 40%;
}
#container-right{
    
    border: 1px solid #C8CCD1;
    padding: 20px;
    
}
#container-left{
    width: 100%;
    min-height: 60vh;
    border: 1px solid #C8CCD1;
    padding: 20px;
    margin-right: 10px;
}
.text-news{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.imagen-text{
    float: right;
}
#image-map{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#list-actualidad {
    padding-left:30px;
    font-size: 1.5rem;
    list-style-type:disc;
    
}
footer{
    width: 100%;
    height: 100px;
}
.container-link{
    display: flex;
}

    


